.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 1rem;
}

.socialInfo {
  padding: 0.5rem;
}

.socialInfo img {
  opacity: 0.5;
  margin-inline: 0.25rem;
  transition: opacity ease-in-out 500ms;
}

.socialInfo img:hover {
  opacity: 1;
}

.companyInfo {
  font-size: 0.7em;
  text-align: right;
  padding: 0.75rem;
  border-right: 1px solid #eaeaea;
}

.companyInfo .title {
  font-weight: 600;
}

@media (max-width: 650px) {
  .container {
    flex-direction: column;
  }
  .companyInfo {
    text-align: center;
    border-bottom: 1px solid #eaeaea;
    border-right: 0px;
  }
}
